body {
    background-color: rgb(175, 175, 175);
    height: 5000px;
}

h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style:dashed;
    text-align: center;
    font-size: 50px;
}

h2 {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-style:dashed;
    text-align: center;
    font-size: 50px;
}

h3 {
    color: white;
    /* The webkit-text-stroke is not widely supported by browsers.
    This code does work on Google Chrome, but do not expect it to work everywhere.
    An alternative way to achieve the same look is to use the text-shadow property*/
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    font-family: verdana;
    font-size: 20px;
}

/*IDs*/
#paragraph1, #paragraph2, #paragraph3 {
    display: flex;
    justify-content: center;
}

/* Classes */
.row {
    display: flex;
    justify-content: center;
}

.column {
    flex-basis: 40%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topNavigation {
    display: flex;
    justify-content: center;
    gap: 2em; /*Gap is an alternative to space-around that will keep "buttons" closer to the center*/
    /*justify-content: space-around; --This will evenly divide the space by the objects inside*/
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(247, 247, 247);
    color: black;
    height: 75px;
    font-size: 2em;
}

.topNavigation a {
    font-family: 'Lilita One', cursive;
}

.headerStyle {
    font-family: 'Lilita One', cursive;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

/*Pseudo Classes and Pseudo Elements*/

/* Adjusting href link colors*/
/*A space between selectors will apply AND functionality
while a comma between selectors will apply OR functionality*/
a:link, a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: rgb(90, 90, 90);
    text-decoration: underline;
}

/*Changing text highlight functionality*/
h3::selection {
    background-color: silver;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

/* Google Fonts */
/*font-family: 'Lilita One', cursive;*/