body {
    background-color: rgb(219, 211, 182);
}

h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style:dashed;
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    font-family: verdana;
    font-size: 20px;
}

/* Classes */
.row {
    display: flex;
    justify-content: center;
}

.column {
    flex-basis: 40%;
}